################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/oidc.AuthModule/obj
/.vs/oidc-netcore/v15
